* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #183059;
    --secondary-color: #20508C;
    --accent1-color: #276FBF;
    --accent2-color: #FAF8F7;
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

h3 {
    color: var(--accent1-color);
}

h4 {
    color: var(--accent2-color);
}

p {
    color: var(--primary-color);
}
.sociallinks a {
    text-decoration: none;
}