* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Montserrat, Roboto, Georgia;
    font-size: 1.5em;
    font-weight: 500;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 800px;
   
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    background-color: black;
    
}

h1 {
    margin: 1rem;
    font-size: 1.6em;
    color: navy;
    display: inline;
}

form {
    width: 850px;
    margin: 0 auto;
    padding: 3rem 2rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    grid-gap: 1rem;
}

.label-number {
    font-weight: 800;
    color: darkblue;
}

input, select, textarea {
    font-size: 1.6rem;
    padding: 0.5rem;
}

form p {
    font-size: 0.7em;
    color:#eee;
    font-weight: 400;
    padding: 1.3rem;
    background-color: #333;
    margin: 0.5rem auto;
    width: 80%;
    
}

button {
    font-size: 1.7rem;
    color: #eee;
    background-color:darkblue;
    padding: 1.2rem;
    margin-top: 1.6rem;
    border-radius: 0.5rem;
    border: none;
}

button:hover {
    background-color: brown;
}

footer {
    width: 850px;
    margin: 1rem auto 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}